/* * {
    outline: 1px solid red;
} */
html, body {
    height: 120vh;
    width: 100vw;
    margin: 0;
    font-family: sans-serif;
    background-color: #fffae3;
    background-image: url('../Images/musamountain.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
}
.Section {
    padding: 0px;
    background-color: rgba(255, 218, 124, 1);
}
.SectionInner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.SectionTextDiv {
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 70%;
    border-top: 1px solid #444;
    transform: translateY(50%);
    transition: all 1s ease;
    opacity: 0;
}
.SectionTextDiv .animate {
    transform: translateY(0%);
    opacity: 1;
}
.SectionTitle {
    margin-bottom: 0px;
    font-size: clamp(5px, 4vw, 35px);
    font-weight: bold;
}
.SectionText {
    font-size: clamp(5px, 3vw, 30px);
    line-height: 2;
}
.sectionSlider {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 20px 0px 10px 0px;
}
.slidersBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;   /* circle size */
    height: 50px;  /* circle size */
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.slidersBackground img:hover {
    background-color: rgb(253, 211, 105);
    border-radius: 50%;
}
.leftSlider {
    height: auto;
    width: 50px;
}
.rightSlider {
    height: auto;
    width: 50px;
    transform: rotate(180deg);
}
.medias {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.medias a {
    width: clamp(30px, 3rem, 50px);
    height: clamp(30px, 3rem, 50px);
}
.medias img {
    width: clamp(30px, 3rem, 50px);
    height: clamp(30px, 3rem, 50px);
}
#navBar {
    position: fixed;
    display: flex;
    background-color: #facc58;
    align-items: center;
    height: 70px;
    width: 100vw;
    z-index: 1000;

}
#title {
    text-align: center;
    font-weight: lighter;
    width: 300px;
    font-size: clamp(5px, 3vw, 25px);
}
#title a {
    text-decoration: none;
    color: black;
}
#interactionList {
    display: flex;
    list-style-type: none;
    font-size: clamp(10px, 2vw, 20px);
    margin-right: 2.5vw;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    height: 100%;
}
#interactionList li {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    height: 100%;
    cursor: pointer;
}
#interactionList li:hover{
    background-color: #ffda7c;
}
#interactionList #activities {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
}
#interactionList #activities:hover #dropdownmenu {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    background-color: #fcd267;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
#interactionList #activities #dropdownmenu {
    display: none;
    /* display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    background-color: #fcd267; */
    
    position: absolute;
    top: 100%;
    left: 0;
}
#blackarrowhead {
    width: 100%;
    height: 10%;
}
#activities:hover #blackarrowhead {
    transform: rotate(90deg);
}
/* Hamburger menu*/
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 3px;
}
#content {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    flex: 1;
}
#content #welcomeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    
}
#content #welcomeSection #welcomeToEsesParagraph {
    margin: 0px;
    font-size: clamp(20px, 10vw, 120px);
    color: white;
}
#content #welcomeSection #welcomeToEsesParagraphDiscription {
    font-size: clamp(10px, 3vw, 30px);
    color: white;
}
#abdelraoufImage {
    height: auto;
    margin-left: 30px;
    width: clamp(100px, 20vw, 400px);
    transform: translateX(-120%);
    transition: all 1s ease;
    opacity: 0;
}
#ownerSectionInner .animate {
    transform: translate(0%);
    opacity: 1;
}
/* Catrina Section */
#catrinaPoster {
    margin-right: 30px;
    height: auto;
    width: clamp(100px, 25vw, 500px);
    transform: translate(120%);
    transition: all 1s ease;
    opacity: 0;
}
#catrinaSectionInner .animate {
    transform: translate(0%);
    opacity: 1;
}
/* Conferences Section */
#conferenceCollectiveStaffPhoto {
    height: auto;
    width: clamp(100px, 35vw, 700px);
    transform: translate(-120%);
    transition: all 1s ease;
    opacity: 0;
}
#conferencesSectionInner .animate {
    transform: translate(0%);
    opacity: 1;
}
#the-9th-international-collectivePhoto {
    height: auto;
    width: clamp(100px, 35vw, 700px);
    transform: translate(0%);
    transition: all 1s ease;
}
/* Footer */
footer {
    padding: 2rem 1rem 1rem 1rem;
    background-color: #facc58;
}
#footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
}
#footer-contact {
    display: flex;
    flex-direction: column;
}
#footer-about {
    width: 50%;
}
#footer-bottom {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    border-top: 1px solid #444;
    padding-top: 1rem;
}
#aboutUsHeader {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}
#contactInfoHeader {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}
/* SliderAnimations */
#conferencesSectionInner.leftSlide{
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translate(0%);
    opacity: 1;
}
#conferencesSectionInner.rightSlide{
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translate(120%);
    opacity: 0;
}
/* 9th International Conference Slide */
#conferencesSection {
    position: relative;
}
#the9thInternConContainer {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translate(-120%);
}
#the9thInternConContainer.rightSlide{
    transform: translate(0%);
    opacity: 1;
}
#the9thInternConContainer.leftSlide{
    transform: translate(-120%);
    opacity: 0;
}
#the9thSectionTextDiv{
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
#conferencesTextDiv {
    width: 50%;
}
/* #the9thSectionText {
    font-size: clamp(5px, 2vw, 25px);
} */
/* Sliding Text */
#announcementsText {
    display: flex;
    height: 20vh;
    align-items: center;
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    font-size: clamp(10px, 3vw, 36px);
    white-space: nowrap; /* prevents text wrapping */
}

.finalPosition {
    transform: translateX(-100vw);
    transition: transform 10s linear;
}

.resetPosition {
    transform: translateX(100vw);
    transition: none; /* no animation, instant reset */
}
@media (max-width: 768px) {
    html, body {
        background-attachment: scroll; /* fixes weird zoom on phones */
    }
    #abdelraoufImage {
        width: 80%;
        padding-top: 40px;
        margin: 0px;
    }
    #catrinaPosterContainer {
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    #catrinaPoster{
        width: 80%;
        margin: 0px;
    }
    .SectionInner {
        display: flex;
        justify-content: center;
    }
    .SectionTitle {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }
    .SectionTextDiv ul {
        padding: 20px 0px 0px 0px;
        width: 100%;
        font-size: 16px;
    }
    .SectionTextDiv {
        width: 90%;
        max-width: 100%;
    }
    .SectionInner {
        width: 100%;
    }
    .SectionText {
        width: 100%;
        font-size: 16px;
    }
    .medias {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .medias a {
        width: 40px;
        height: 40px;
    }
    .medias img {
        width: 40px;
        height: 40px;
    }
    #interactionList {
        display: none; /* hide menu */
        flex-direction: column;
        position: absolute;
        height: 500px;
        top: 60px;
        right: 15px;
        background: #ffebc3;
        padding: 10px;
        border-radius: 5px;
    }
    #interactionList.active {
        display: flex; /* show when toggled */
    }
    #navBar {
        display: flex;
        justify-content: center;
    }
    .hamburger {
        display: flex; /* show hamburger */
        justify-content: flex-end;
    }
}