html, body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #fffae3;
    background-image: url('../Images/musamountain.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
html {
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.Section {
    margin-top: 100px;
    padding: 0px;
    background-color: rgba(255, 218, 124, 0.8);
}
.SectionInner {
    display: flex;
    align-items: center;
}
.SectionTextDiv {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    transform: translateY(50%);
    transition: all 1s ease;
    opacity: 0;
}
.SectionTextDiv .animate {
    transform: translateY(0%);
    opacity: 1;
}
.SectionTitle {
    margin-bottom: 0px;
    font-size: clamp(5px, 4vw, 35px);
    font-weight: bold;
}
.SectionText {
    font-size: clamp(5px, 3vw, 30px);
    line-height: 2;
}
.sectionSlider {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 5px 0px 10px 0px;
}
.slidersBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 50%;
    /* background-color: rgb(255, 205, 80, 0.8); */
}
.slidersBackground:hover {
    background-color: rgba(251, 216, 129, 0.534);
}
.leftSlider {
    height: auto;
    width: 50px;
}
.rightSlider {
    height: auto;
    width: 50px;
    transform: rotate(180deg);
}
.medias {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.medias img {
    width: clamp(30px, 3rem, 50px);
    height: clamp(30px, 3rem, 50px);
}
.medias a {
    width: clamp(30px, 3rem, 50px);
    height: clamp(30px, 3rem, 50px);
}
.medias a img{
    width: clamp(30px, 3rem, 50px);
    height: clamp(30px, 3rem, 50px);
}
#navBar {
    position: fixed;
    display: flex;
    background-color: #facc58;
    align-items: center;
    height: 70px;
    width: 100vw;
    z-index: 1000;
}
#title {
    text-align: center;
    font-weight: lighter;
    width: 300px;
    font-size: clamp(5px, 3vw, 25px);
}
#title a {
    text-decoration: none;
    color: black;
}
#interactionList {
    display: flex;
    list-style-type: none;
    font-size: clamp(10px, 2vw, 20px);
    margin-right: 2.5vw;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    height: 100%;
}
#interactionList li {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    height: 100%;
    cursor: pointer;
}
#interactionList li:hover{
    background-color: #ffda7c;
}
#interactionList #activities {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
}
#interactionList #activities:hover #dropdownmenu {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    background-color: #fcd267;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
#interactionList #activities #dropdownmenu {
    display: none;
    /* display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    background-color: #fcd267; */
    
    position: absolute;
    top: 100%;
    left: 0;
}
#blackarrowhead {
    width: 100%;
    height: 10%;
}
#activities:hover #blackarrowhead {
    transform: rotate(90deg);
}
#content {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    flex: 1;
}
#content #welcomeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    
}
#content #welcomeSection #welcomeToEsesParagraph {
    margin: 0px;
    font-size: clamp(20px, 10vw, 120px);
    color: white;
}
#content #welcomeSection #welcomeToEsesParagraphDiscription {
    font-size: clamp(10px, 3vw, 30px);
    color: white;
}
#abdelraoufImage {
    height: auto;
    margin-left: 30px;
    width: clamp(100px, 20vw, 400px);
    transform: translateX(-120%);
    transition: all 1s ease;
    opacity: 0;
}
#ownerSectionInner .animate {
    transform: translate(0%);
    opacity: 1;
}
/* Catrina Section */
#catrinaPoster {
    margin-right: 30px;
    height: auto;
    width: clamp(100px, 25vw, 500px);
    transform: translate(120%);
    transition: all 1s ease;
    opacity: 0;
}
#catrinaSectionInner .animate {
    transform: translate(0%);
    opacity: 1;
}
/* Conferences Section */
#conferenceCollectivePhoto {
    margin-left: 30px;
    height: auto;
    width: clamp(100px, 35vw, 700px);
    transform: translate(-120%);
    transition: all 1s ease;
    opacity: 0;
}
#conferencesSectionInner .animate {
    transform: translate(0%);
    opacity: 1;
}
/* Footer */
#footer {
    display: flex;
    margin-top: 30px;
    background-color: #facc58;
    width: 100%;
}
#footer #aboutUs {
    width: 50%;
    margin-left: 10px;
}
#footer #aboutUs #aboutUsHeader {
    margin-bottom: 0px;
    font-size: clamp(5px, 4vw, 25px);
}
#footer #aboutUs #aboutUsParagraph {
    margin-top: 15px;
    font-size: clamp(10px, 1.5vw, 20px);
}
#footer #contactInfo #contactInfoHeader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 19.29px;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: clamp(5px, 4vw, 25px);
}
#footer #contactInfo {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: auto;
    margin-right: 20px;
    font-size: clamp(10px, 1.5vw, 20px);
}
/* SliderAnimations */
#conferencesSectionInner.leftSlide{
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translate(0%);
    opacity: 1;
}
#conferencesSectionInner.rightSlide{
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translate(120%);
    opacity: 0;
}